$primary-color: #212121
$secondary-color: #EF6C00
$light-color: #F5F5F5

body
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    font-family: "Inter", sans-serif
    background-color: $light-color
    color: black

h1, h2
    font-family: "Gothic A1", sans-serif

h3
    font-size: 1.3em
    font-weight: 300
    margin-top: -10px

h4
    font-size: 1.2em
    font-weight: 500
    margin-bottom: -10px

p
    font-size: 1.1em

hr
    border: 0
    border-top: 1px solid #EEEEEE
    border-bottom: 1px solid #E0E0E0
    margin-top: 15px

li
    line-height: 1.3

.logo
    display: flex
    flex-direction: row
    align-items: baseline

    svg
        width: 58px
        height: auto
        margin-right: 15px
        image-rendering: crisp-edges

    h1
        font-size: 3em
        font-weight: 600
        margin-bottom: auto
        margin-top: auto
        padding-top: 2px

.button
    display: inline-flex
    align-items: center
    background-color: $secondary-color
    color: white
    font-size: 1.2em
    font-family: "Gothic A1", sans-serif
    text-decoration: none

    padding: 12px
    margin-right: 10px
    margin-bottom: 10px
    border-radius: 8px

    box-shadow: 1px 2px 5px rgba(0.6, 0.6, 0.6, 0.2)
    transition: 200ms ease background-color
    cursor: pointer

    .text
        display: flex
        flex-direction: column
        margin-top: 3px

        span, strong
            vertical-align: sub

    &:hover
        background-color: darken($secondary-color, 4%)

    & > svg
        $svg-size: 36px
        display: block
        width: $svg-size
        height: auto
        fill: white
        margin-right: 10px

        &.windows
            width: $svg-size - 4px
            padding: 2px

.button.download
    padding-left: 20px
    padding-right: 20px

.github
    background-color: $light-color
    color: black

    &:hover
        background-color: darken($light-color, 10%)

main
    padding-top: 60px

header
    margin-bottom: 50px

    h3
        font-size: 1.6em
        font-weight: 300
        margin-top: 5px

.pane
    padding: 0 50px
    padding-top: 20px

main, .downloads, footer
    background-color: $primary-color
    color: white

.pane .content
    width: 100%
    padding: 20px 40px 0 40px
    max-width: 900px
    margin-left: 50%
    transform: translateX(-50%)

    a.new-session-link
        color: $light-color
        font-size: 1.2em

.pane:first-child
    padding-bottom: 80px

.features
    ul
        width: 100%
        padding-left: 20px
        list-style: none
        box-sizing: border-box

    li
        margin-bottom: 10px
        font-size: 1.2em

.usage
    padding-bottom: 80px

    h4
        margin-top: 40px

    ul
        li
            margin-bottom: 20px

.downloads
    display: flex

    .content
        margin: 0 auto
        padding: 50px

footer
    padding: 40px
    text-align: center

    a
        color: #90CAF9

code
    background-color: #E0E0E0
    border-radius: 7px
    white-space: nowrap
    font-family: "Hack", Consolas, monospace, serif
    font-size: 0.8em
    padding: 5px 9px

.maths
    width: 48px
    height: auto
    vertical-align: middle

/* preview */

.preview
    height: 420px
    font-family: "Hack", sans-serif
    background-color: lighten($primary-color, 5%)
    padding: 10px 20px 10px 20px
    border-radius: 7px
    box-shadow: 1px 1px 2px rgba(0.2, 0.2, 0.2, 0.4) inset
    margin-bottom: 10px

    p
        margin-top: 6px
        margin-bottom: 6px

    .input
        color: mediumseagreen

    .output
        padding-bottom: 10px

    .op
        color: darkorange

    .var
        color: cornflowerblue
